USE [BusinessManagement]
GO

CREATE USER [user01] FOR LOGIN [user01] WITH DEFAULT_SCHEMA=[user01]
GO
ALTER ROLE [db_owner] ADD MEMBER [user01]
GO

CREATE SCHEMA [user01]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ACTIVITYNAME] [varchar](50) NULL,
	[ACTIVITYCODE] [varchar](20) NOT NULL,
	[ACTIVITY_CONTENTS] [varchar](100) NOT NULL,
	[WORKDATE] [date] NOT NULL,
	[WORKINGTIME] [int] NOT NULL,
	[PROJECTCODE] [varchar](20) NOT NULL,
	[STEPCODE] [varchar](20) NOT NULL,
	[REGISTRAR] [varchar](20) NOT NULL,
	[RESISTER_TIMESTAMP] [date] NOT NULL,
 CONSTRAINT [PK__ACITIVIT__F260B4833F1BBEC1] PRIMARY KEY CLUSTERED 
(
	[ACTIVITYCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AUTHORITY]    Script Date: 2021-06-15 오후 7:34:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUTHORITY](
	[AUTHCODE] [varchar](20) NOT NULL,
	[AUTHNAME] [varchar](40) NULL,
 CONSTRAINT [PK__AUTHORIT__30B0E048218D5947] PRIMARY KEY CLUSTERED 
(
	[AUTHCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUSINESS_CUSTOMER](
	[CUSTOMERID] [varchar](15) NOT NULL,
	[CUSTOMERNAME] [varchar](50) NOT NULL,
	[ADDRESS] [varchar](100) NULL,
	[MANAGER] [varchar](15) NULL,
	[MANAGERNUMBER] [varchar](13) NULL,
	[USEYN] [varchar](2) NULL,
 CONSTRAINT [PK__BUSINESS__61DBD788B9E2BF42] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUSINESS_PROJECT](
	[PROJECTCODE] [varchar](20) NOT NULL,
	[PROJECTNAME] [varchar](20) NOT NULL,
	[PROJECTCONTENTS] [varchar](50) NOT NULL,
	[MANAGER] [varchar](20) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NOT NULL,
	[REGISTRAR] [varchar](20) NOT NULL,
	[RESISTER_TIMESTAMP] [date] NOT NULL,
	[MODIFIER] [varchar](20) NOT NULL,
	[MODIFY_TIMESTAMP] [date] NOT NULL,
	[CUSTOMERID] [varchar](15) NOT NULL,
	[STATECODE] [varchar](20) NOT NULL,
	[USEYN] [varchar](4) NOT NULL,
	[TOTALBUDGET] [int] NOT NULL,
	[BUDGETUNIT] [varchar](2) NOT NULL,
 CONSTRAINT [PK__BUSINESS__D85B385DF218FF26] PRIMARY KEY CLUSTERED 
(
	[PROJECTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANY_POSITION](
	[POSITIONCODE] [varchar](20) NOT NULL,
	[POSITIONNAME] [varchar](20) NULL,
 CONSTRAINT [PK__COMPANY___AF4871592FE94B9D] PRIMARY KEY CLUSTERED 
(
	[POSITIONCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENTCODE] [varchar](20) NOT NULL,
	[DEPARTMENTNAME] [varchar](20) NULL,
 CONSTRAINT [PK__DEPARTME__61E6F4C95217B3C1] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[USERID] [varchar](20) NOT NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[ENTEREDDATE] [date] NULL,
	[EMAIL] [varchar](20) NULL,
	[AUTHCODE] [varchar](20) NOT NULL,
	[DEPARTMENTCODE] [varchar](20) NOT NULL,
	[POSITIONCODE] [varchar](20) NOT NULL,
 CONSTRAINT [PK__EMPLOYEE__F88716D89B93912D] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOB_STEP](
	[STEPCODE] [varchar](20) NOT NULL,
	[STEPNAME] [varchar](20) NOT NULL,
 CONSTRAINT [PK__JOB_STEP__70658A120BC96EA7] PRIMARY KEY CLUSTERED 
(
	[STEPCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT_STATE](
	[STATENAME] [varchar](20) NULL,
	[STATECODE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STATECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT_USERS](
	[PROJECTCODE] [varchar](20) NOT NULL,
	[USERSID] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACTIVITY] ([ACTIVITYNAME], [ACTIVITYCODE], [ACTIVITY_CONTENTS], [WORKDATE], [WORKINGTIME], [PROJECTCODE], [STEPCODE], [REGISTRAR], [RESISTER_TIMESTAMP]) VALUES (N'국민은행 업무 지원', N'ACT21061751', N'국민은행 지원 업무 수행', CAST(N'2021-06-01' AS Date), 8, N'PJ20210511035117', N'AY', N'user03', CAST(N'2021-06-14' AS Date))
INSERT [dbo].[AUTHORITY] ([AUTHCODE], [AUTHNAME]) VALUES (N'ALL', N'관리 권한(ALL)')
INSERT [dbo].[AUTHORITY] ([AUTHCODE], [AUTHNAME]) VALUES (N'BT', N'영업 권한(Customer)')
INSERT [dbo].[AUTHORITY] ([AUTHCODE], [AUTHNAME]) VALUES (N'HR', N'인사 권한(Employee)')
INSERT [dbo].[BUSINESS_CUSTOMER] ([CUSTOMERID], [CUSTOMERNAME], [ADDRESS], [MANAGER], [MANAGERNUMBER], [USEYN]) VALUES (N'2018168693', N'국민은행', N'서울 영등포구 여의공원로 115 (여의도동, 세우빌딩) 5층 스마트금융부', N'허인', N'010-1234-5678', N'Y')
INSERT [dbo].[BUSINESS_CUSTOMER] ([CUSTOMERID], [CUSTOMERNAME], [ADDRESS], [MANAGER], [MANAGERNUMBER], [USEYN]) VALUES (N'2028102637', N'신한은행', N'서울 중구 태평로2가 120', N'진옥동', N'02-1599-8000', N'N')
INSERT [dbo].[BUSINESS_PROJECT] ([PROJECTCODE], [PROJECTNAME], [PROJECTCONTENTS], [MANAGER], [STARTDATE], [ENDDATE], [REGISTRAR], [RESISTER_TIMESTAMP], [MODIFIER], [MODIFY_TIMESTAMP], [CUSTOMERID], [STATECODE], [USEYN], [TOTALBUDGET], [BUDGETUNIT]) VALUES (N'PJ20210511035117', N'국민은행 프로젝트', N'', N'김재중', CAST(N'2021-05-02' AS Date), CAST(N'2021-06-28' AS Date), N'admin', CAST(N'2021-05-11' AS Date), N'admin', CAST(N'2021-06-14' AS Date), N'2018168693', N'PL', N'Y', 1000000, N'W')
INSERT [dbo].[BUSINESS_PROJECT] ([PROJECTCODE], [PROJECTNAME], [PROJECTCONTENTS], [MANAGER], [STARTDATE], [ENDDATE], [REGISTRAR], [RESISTER_TIMESTAMP], [MODIFIER], [MODIFY_TIMESTAMP], [CUSTOMERID], [STATECODE], [USEYN], [TOTALBUDGET], [BUDGETUNIT]) VALUES (N'PJ21063952', N'신행은행 프로젝트', N'', N'김재환', CAST(N'2021-06-01' AS Date), CAST(N'2021-10-31' AS Date), N'admin', CAST(N'2021-06-14' AS Date), N'admin', CAST(N'2021-06-14' AS Date), N'2028102637', N'CD', N'Y', 2000000, N'W')
INSERT [dbo].[COMPANY_POSITION] ([POSITIONCODE], [POSITIONNAME]) VALUES (N'D', N'상무')
INSERT [dbo].[COMPANY_POSITION] ([POSITIONCODE], [POSITIONNAME]) VALUES (N'E', N'프로')
INSERT [dbo].[COMPANY_POSITION] ([POSITIONCODE], [POSITIONNAME]) VALUES (N'J', N'매니저')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTCODE], [DEPARTMENTNAME]) VALUES (N'CM', N'영업팀')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTCODE], [DEPARTMENTNAME]) VALUES (N'DT', N'개발팀')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTCODE], [DEPARTMENTNAME]) VALUES (N'EP', N'인사팀')
INSERT [dbo].[EMPLOYEE] ([USERID], [USERNAME], [PASSWORD], [ENTEREDDATE], [EMAIL], [AUTHCODE], [DEPARTMENTCODE], [POSITIONCODE]) VALUES (N'216801', N'admin', N'inzent', CAST(N'2021-06-14' AS Date), N'admin@gmail.com', N'ALL', N'PT', N'V')
INSERT [dbo].[EMPLOYEE] ([USERID], [USERNAME], [PASSWORD], [ENTEREDDATE], [EMAIL], [AUTHCODE], [DEPARTMENTCODE], [POSITIONCODE]) VALUES (N'216802', N'user00', N'inzent', CAST(N'2021-06-14' AS Date), N'user00@gmail.com', N'BT', N'CM', N'P')
INSERT [dbo].[EMPLOYEE] ([USERID], [USERNAME], [PASSWORD], [ENTEREDDATE], [EMAIL], [AUTHCODE], [DEPARTMENTCODE], [POSITIONCODE]) VALUES (N'216803', N'user01', N'inzent', CAST(N'2021-06-14' AS Date), N'user01@gmail.com', N'HR', N'EP', N'J')
INSERT [dbo].[JOB_STEP] ([STEPCODE], [STEPNAME]) VALUES (N'AY', N'분석')
INSERT [dbo].[JOB_STEP] ([STEPCODE], [STEPNAME]) VALUES (N'DL', N'개발')
INSERT [dbo].[JOB_STEP] ([STEPCODE], [STEPNAME]) VALUES (N'DS', N'설계')
INSERT [dbo].[PROJECT_STATE] ([STATENAME], [STATECODE]) VALUES (N'사업폐기', N'CD')
INSERT [dbo].[PROJECT_STATE] ([STATENAME], [STATECODE]) VALUES (N'사업이관', N'CE')
INSERT [dbo].[PROJECT_STATE] ([STATENAME], [STATECODE]) VALUES (N'사업수행', N'CP')
INSERT [dbo].[PROJECT_USERS] ([PROJECTCODE], [USERSID]) VALUES (N'PJ20210511035117', N'216801')
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK__ACITIVITY__PROJE__398D8EEE] FOREIGN KEY([PROJECTCODE])
REFERENCES [dbo].[BUSINESS_PROJECT] ([PROJECTCODE])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK__ACITIVITY__PROJE__398D8EEE]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK__ACITIVITY__PROJE__44FF419A] FOREIGN KEY([PROJECTCODE])
REFERENCES [dbo].[BUSINESS_PROJECT] ([PROJECTCODE])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK__ACITIVITY__PROJE__44FF419A]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK__ACITIVITY__STEPC__3A81B327] FOREIGN KEY([STEPCODE])
REFERENCES [dbo].[JOB_STEP] ([STEPCODE])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK__ACITIVITY__STEPC__3A81B327]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK__ACITIVITY__STEPC__45F365D3] FOREIGN KEY([STEPCODE])
REFERENCES [dbo].[JOB_STEP] ([STEPCODE])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK__ACITIVITY__STEPC__45F365D3]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__AUTHCO__286302EC] FOREIGN KEY([AUTHCODE])
REFERENCES [dbo].[AUTHORITY] ([AUTHCODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__AUTHCO__286302EC]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__AUTHCO__48CFD27E] FOREIGN KEY([AUTHCODE])
REFERENCES [dbo].[AUTHORITY] ([AUTHCODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__AUTHCO__48CFD27E]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__DEPART__29572725] FOREIGN KEY([DEPARTMENTCODE])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENTCODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__DEPART__29572725]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__DEPART__49C3F6B7] FOREIGN KEY([DEPARTMENTCODE])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENTCODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__DEPART__49C3F6B7]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_COMPANY_POSITION] FOREIGN KEY([POSITIONCODE])
REFERENCES [dbo].[COMPANY_POSITION] ([POSITIONCODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_COMPANY_POSITION]
GO
ALTER TABLE [dbo].[PROJECT_USERS]  WITH CHECK ADD  CONSTRAINT [FK__PROJECT_U__PROJE__33D4B598] FOREIGN KEY([PROJECTCODE])
REFERENCES [dbo].[BUSINESS_PROJECT] ([PROJECTCODE])
GO
ALTER TABLE [dbo].[PROJECT_USERS] CHECK CONSTRAINT [FK__PROJECT_U__PROJE__33D4B598]
GO
ALTER TABLE [dbo].[PROJECT_USERS]  WITH CHECK ADD  CONSTRAINT [FK__PROJECT_U__PROJE__4AB81AF0] FOREIGN KEY([PROJECTCODE])
REFERENCES [dbo].[BUSINESS_PROJECT] ([PROJECTCODE])
GO
ALTER TABLE [dbo].[PROJECT_USERS] CHECK CONSTRAINT [FK__PROJECT_U__PROJE__4AB81AF0]
GO
ALTER TABLE [dbo].[PROJECT_USERS]  WITH CHECK ADD  CONSTRAINT [FK__PROJECT_U__USERS__34C8D9D1] FOREIGN KEY([USERSID])
REFERENCES [dbo].[EMPLOYEE] ([USERID])
GO
ALTER TABLE [dbo].[PROJECT_USERS] CHECK CONSTRAINT [FK__PROJECT_U__USERS__34C8D9D1]
GO
ALTER TABLE [dbo].[PROJECT_USERS]  WITH CHECK ADD  CONSTRAINT [FK__PROJECT_U__USERS__4BAC3F29] FOREIGN KEY([USERSID])
REFERENCES [dbo].[EMPLOYEE] ([USERID])
GO
ALTER TABLE [dbo].[PROJECT_USERS] CHECK CONSTRAINT [FK__PROJECT_U__USERS__4BAC3F29]
GO
